.card {
    border: 1px solid #586379b4;
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    background-color: #4a515d73;
    padding: 2%;
}

.content {
    background-color: #2e3035;
    border: 1px solid #586379b4;
    border-radius: 15px;
    padding: 2%;
    margin-top: .5%;
}

.right {
    margin-top: 1%;
    text-align: right;
}

.edit {
    width: 50%;
}
