.input {
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.561);
    border-radius: 15px;
    font-size: 1.2rem;
    color: white;
    padding-left: 1.2%;
}

.input::placeholder {
    color: gray;
}

.text {
    width: 50%;
}

.password {
    width: 39%;
}

.clearInputField {
    border: 1px solid rgba(128, 128, 128, 0.561);
}

.errInputField {
    border: 1px solid rgb(255, 62, 62);
}
.errInputField::placeholder {
    color: rgb(255, 88, 88);
}
