@media screen and (max-width: 1224px) {
    .salary {
        width: 90%;
    }
}

@media screen and (min-width: 1224px) {
    .salary {
        width: 50%;
    }
}

.type {
    margin-top: 2%;
    margin-bottom: 2%;
}

.salary {
    margin: 0 auto;
}

.btn {
    display: inline;
    margin-right: 2.5%;
}
