.table {
    border: 1px solid #4a515d73;
    border-radius: 15px;
}

.head {
    border-bottom: 2px solid #4a515d73;
    background-color: #2e3035;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.value {
    text-align: left;
    padding: 1%;
}
