.btns {
    margin-bottom: 1%;
}

.btn {
    border: none;
    background-color: transparent;
    /* color: white; Dark */
    color: black;
    font-size: 1.3rem;
    padding: 0 1%;

    transition: .5s all;
}

.btn:hover {
    cursor: pointer;
    /* border-bottom: 1px solid white; Dark */
    border-bottom: 1px solid black;
}

.currentTab {
    /* color: rgb(0, 255, 0); Dark*/
    color: rgb(0, 175, 0);

    transition: .5s all;
}

.currentTab:hover {
    /* border-bottom: 1px solid rgb(0, 255, 0); Dark */
    border-bottom: 1px solid rgb(0, 175, 0);
}

