@media screen and (max-width: 1224px) {
    .convo {
        padding: 2% 0.5%;
    }
}

@media screen and (min-width: 1224px) {
    .convo {
        padding: 2% 5%;
    }
}

.page {
    margin-top: 2.5%;
}

.convos {
    margin-top: 5%;
}

.convo {
    border: 1px solid #586379b4;
    background-color: #4a515d73;
    border-radius: 10px;
    width: 100%;
}

.convo:hover {
    background-color: #586379b4;
    cursor: pointer;
}
