.card {
    border: 1px solid #586379b4;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    background-color: #4a515d73;
    padding: 2%;

    transition: 0.5s all;
}

.card:hover {
    background-color: #586379b4;
}

.img {
    width: 100%;
    border-radius: 15px;
}

/* .title {
    font-size: 1.7rem;
} */
