.btn {
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 2% 2.5%;
    
    transition: .5s all;
}

.btn:hover {
    color: white;
    cursor: pointer;
}

.purple {
    /* border: 1px solid rgb(206, 53, 206);
    color: rgb(206, 53, 206); */
    border: 2px solid rgb(116, 0, 116);
    color: rgb(116, 0, 116);
}

.purple:hover {
    /* background-color: rgb(206, 53, 206); */
    background-color: rgb(116, 0, 116);
}

.red {
    border: 1px solid rgb(206, 53, 53);
    color: rgb(206, 53, 53);
}

.red:hover {
    background-color: rgb(206, 53, 53);
}
