.btn {
    background-color: transparent;
    font-size: 1.2rem;
    
    transition: .5s all;
}

.btn:hover {
    color: white;
    cursor: pointer;
}

.purple {
    border: 1px solid rgb(206, 53, 206);
    color: rgb(206, 53, 206);
    /* border: 2px solid rgb(116, 0, 116);
    color: rgb(116, 0, 116); Bright */
}

.purple:hover {
    background-color: rgb(206, 53, 206);
    /* background-color: rgb(116, 0, 116); Bright */
}

.red {
    border: 1px solid rgb(206, 53, 53);
    color: rgb(206, 53, 53);
}

.red:hover {
    background-color: rgb(206, 53, 53);
}

.green {
    border: 1px solid #23a723;
    color: #23a723;
}

.green:hover {
    background-color: #23a723;
}

.yellow {
    border: 1px solid #ffdf00;
    color: #ffdf00;
}

.yellow:hover {
    background-color: #ffdf00;
}

.blue {
    border: 1px solid #059dc7;
    color: #059dc7;
}

.blue:hover {
    background-color: #059dc7;
}
