.btn {
    background-color: transparent;
    border: 1px solid rgb(206, 53, 206);
    color: rgb(206, 53, 206);
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 2% 2.5%;
    
    transition: .5s all;
}

.btn:hover {
    background-color: rgb(206, 53, 206);
    color: white;
    cursor: pointer;
}
