@media screen and (max-width: 1224px) {
    .texts {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1224px) {
    .texts {
        font-size: 1.3rem;
    }
}

.card {
    border: 1px solid #586379b4;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #4a515d73;
    padding: 1% 2% 2% 2%;
}

.centered {
    text-align: center;
}

.infoBlock {
    background-color: #2e3035;
    border: 1px solid #586379b4;
    border-radius: 15px;
    padding: 1%;
}