@media screen and (max-width: 1224px) {
    .bioDiv {
        width: 92%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1224px) {
    .bioDiv {
        width: 52%;
        margin: 0 auto;
    }
}

.btns {
    margin-top: 2.5%;
}

.btn {
    display: inline;
    margin-right: 3%;
}
