@media screen and (max-width: 1224px) {
    .addCommentDiv {
        width: 100%;
    }
}

@media screen and (min-width: 1224px) {
    .addCommentDiv {
        width: 50%;
    }
}

.btn {
    text-align: right;
}
